<div class="top-nav">
  <nav class="navbar navbar-expand-lg" id="mainnav">
    <div class="container p-0 ">
      <a class="navbar-brand me-4" href="/">
        <img src="/img/global/ilf-horizontal.svg" alt="Interledger Foundation Logo">
      </a>
      <div class="menu-wrapper navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger-menu"></div>
      </div>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-lg-none">
            <a class="nav-link {% if page.url == '/' %} active {% endif %}" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url contains '/about-us/' %} active {% endif %}" aria-current="page" href="/about-us/">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% if page.url contains '/summit/' %} active {% endif %}" href="/summit/">ILP Summit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% if page.url contains '/our-work/' %} active {% endif %}" href="/our-work/">Nuestro trabajo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% if page.url contains '/take-action/' %} active {% endif %}" href="/take-action/">Tome acción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% if page.url contains '/faq/' %} active {% endif %}" href="/faq/">Preguntas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://interledger-foundation.breezy.hr/">Trabajos</a>
          </li>

          <li class="nav-item dropdown d-none d-lg-flex">
            <a class="nav-link dropdown-toggle  {% if page.url contains '/developer-tools/' %} active {% endif %}" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Desarrollador
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/developer-tools/get-started/overview/">Inicio</a></li>
              <li><a class="dropdown-item" href="{{ site.data.specs.first.permalink }}">Especificación</a></li>
              <li><a class="dropdown-item" href="/developer-tools/tools/">Herramientas</a></li>
              <li><a class="dropdown-item" href="/developer-tools/community/">Comunidad</a></li>
              <li><a class="dropdown-item" href="/developer-tools/resources/">Recursos</a></li>
            </ul>
          </li>
          <div class="accordion accordion-flush d-lg-none" id="devToolsMobile">
            <div class="accordion-item">
              <h2 class="accordion-header" id="devToolsMobile-heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-devToolsMobile" aria-expanded="false" aria-controls="flush-devToolsMobile">
                  Herramientas de desarrollador
                </button>
              </h2>
              <div id="flush-devToolsMobile" class="accordion-collapse collapse" aria-labelledby="devToolsMobile-heading" data-bs-parent="#devToolsMobile">
                <div class="accordion-body">
                    <ul class="nav" >
                      <li class="nav-item"><a class="nav-link" href="/developer-tools/get-started/overview/">Inicio</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ site.data.specs.first.permalink }}">Especificación</a></li>
                      <li class="nav-item"><a class="nav-link" href="/developer-tools/tools/">Herramientas</a></li>
                      <li class="nav-item"><a class="nav-link" href="/developer-tools/community/">Comunidad</a></li>
                      <li class="nav-item"><a class="nav-link" href="/developer-tools/resources/">Recursos</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </ul>
        <ul class="navbar-nav">
          {% if site.posts.size > 0 %}
          <li class="nav-item"><a class="nav-link text-bold text-primary text-uppercase  {% if page.url contains '/news/' %} active {% endif %}" href="/news/">Noticias</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link text-bold" href="/join/" id="joinBtn">Únase</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
