---
layout: page
title: Tome acción
content_creator_tools:
  - tool_name: Coil
    tool_logo_image: /uploads/coil.png
    tool_description_text: >-
      Una aplicación de micropagos que utiliza el protocolo Interledger para pagar a cualquier sitio web mediante la monetización web, un nuevo estándar sobre cómo los navegadores pueden pagar sitios web mediante Interledger.
    learn_more_link: 'https://coil.com/'
  - tool_name: Grant for the Web
    tool_logo_image: /uploads/gftw.png
    tool_description_text: >-
      Un fondo de Mozilla, Creative Commons y Coil para impulsar la innovación y los estándares abiertos, justos e inclusivos en la monetización web.
    learn_more_link: 'https://www.grantfortheweb.org/'
  - tool_name: RippleX
    tool_logo_image: /uploads/ripplex.svg
    tool_description_text: >-
      Una plataforma abierta de dinero respaldada por Ripple. RippleX proporciona herramientas, servicios y programas para facilitar las integraciones de pago.
    learn_more_link: 'https://ripple.com/ripplex'
  - tool_name: GateHub
    tool_logo_image: /uploads/gatehub.png
    tool_description_text: >-
      Un servicio de billetera que ofrece monetización web sobre Interledger a través de punteros de pago a los creadores de contenido.
    learn_more_link: 'https://gatehub.net/'
  - tool_name: Uphold
    tool_logo_image: /uploads/uphold.png
    tool_description_text: >-
      Proveedor de billetera y cuenta que ofrece billeteras habilitadas para monetización web (ILP).
    learn_more_link: 'https://uphold.com/'
  - tool_name: Puma Browser
    tool_logo_image: /uploads/puma-1.png
    tool_description_text: Un navegador web impulsado por Coil e Interledger.
    learn_more_link: 'https://www.pumabrowser.com/'
developer_tools:
  - tool_logo_image: /uploads/interledger-rs.png
    tool_description_text: ¿Interesado en ejecutar un conector Interledger?
    button_text: Mire esta Guía
    learn_more_link: >-
      https://medium.com/interledger-blog/running-your-own-ilp-connector-c296a6dcf39a
  - tool_logo_image: /uploads/github.png
    tool_description_text: >-
      ¿Quiere comenzar a crear aplicaciones con Interledger? Descargue moneyd y consulte los tutoriales para conectarse a Interledger en solo unos minutos.
    button_text: Descargar Moneyd
    learn_more_link: >-
      https://medium.com/interledger-blog/using-moneyd-to-join-the-ilp-testnet-ba64bd42bb14
  - tool_logo_image: /uploads/slack.png
    tool_description_text: >-
      Si está interesado en participar en el proyecto, únase a las llamadas comunitarias quincenales y chatee con nosotros en Slack.
    button_text: Únase a nosotros en Slack
    learn_more_link: >-
      https://communityinviter.com/apps/interledger/interledger-working-groups-slack
_subnav:
  title: Tome acción
  links:
    - label: Alianza
      url: '#partner'
    - label: Creadores de contenidos y Usuarios
      url: '#content-creators'
    - label: Desarrolladores
      url: '#developers'
---

{% include navigation/subnav.html %}


<section class="fullwidth-img-section position-relative d-flex">
    <img class="img-fluid p-5 d-none d-md-flex" id="takeActionIllustration" src="/img/take-action/take-action-illustration.svg" />
  <div class="container h-100 mt-md-5">
    <div class="row pt-5">
      <div class="col-12 col-md-4 pt-5 text-center text-md-start">
          <h1 class="text-hero text-blue editable">
            Tome acción
          </h1>
          <p class="text-large my-3">
            Abierto a negocios.<br />Abierto a creadores.<br />Abierto a desarrolladores.<br /><strong>Abierto para todos.</strong>
          </p>
          <a href="/join/" class="btn btn-secondary text-primary">Únase a Interledger</a>
      </div>
      <div class="col-12 d-md-none">
        <img class="img-fluid my-5" src="/img/take-action/take-action-illustration.svg" />
      </div>
    </div>
  </div>
</section>

<section class="bg-purple-fade position-relative centered pt-0 pt-md-5" id="partner">
  <div id="whiteCircle" class="d-none d-md-block"></div>
  <div id="takeActionPartnerWithUs" class="d-none d-md-block">
    <img class="img-fluid" id="takeActionPartnerWithUs" src="/img/take-action/photo-partner.webp" alt="A group of five people sitting around a table working on laptops" />
  </div>
  <div class="container ">
    <div class="row justify-content-center justify-content-md-end">
      <div class="col-12 col-md-6  text-center text-md-start">
        <h1 class="h3 text-blue editable">Únase a la Fundación Interledger</h1>
        <h2 class="h1 text-white mb-4 editable">Asociarse con nosotros</h2>
        <p class="text-white editable">Siempre estamos buscando socios para trabajar con nosotros en el avance de la plataforma web, los estándares web y las tecnologías abiertas que crean una sociedad global más equitativa. Si está interesado en trabajar juntos en una iniciativa o apoyar una de nuestras iniciativas existentes,</p>
        <p><a target="_blank" class="text-underline text-large text-primary text-semi mt-5 text-blue editable" href="mailto:careers@interledger.org">por favor contáctenos en info@interledger.org</a></p>
      </div>
    </div>
  </div>
</section>


<section class="bg-green-100 position-relative " id="content-creators">
    <img class="img-fluid p-5  d-none d-md-flex" id="creatorToolsIllustration" src="/img/take-action/creators-illustration.svg" />
  <div class="container pt-md-5 mt-5">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start">
        <h1 class="h3 text-blue text-uppercase mb-4  editable ">
          Formas de utilizar las herramientas de pago abiertas
        </h1>
        <h2 class="text-hero  editable ">
          Para creadores de contenido &amp; Usuarios
        </h2>
        <p class="text-large  editable ">
          Pruebe estas aplicaciones habilitadas para Interledger actuales:
        </p>
      </div>
      <div class="col-12 d-md-none">
        <img class="img-fluid pt-5" src="/img/take-action/creators-illustration.svg" />
      </div>
    </div>
    <div class="row mt-n5 mt-md-5">
      {% for content-tool in page.content_creator_tools %}
      <div class="col-12 col-md-6 col-lg-4 ||  mb-4">
        <div class="card text-center h-100">
          <img src="{{ content-tool.tool_logo_image }}" class="tool-logo" alt="{{ content-tool.tool_name }}" />
          <p><strong>{{ content-tool.tool_name }}</strong></p>
          <p>{{ content-tool.tool_description_text }}</p>
          <div class="mt-auto">
            <a href="{{ content-tool.learn_more_link }}" target="_blank" class="button button-outline">Aprender más</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-blue-100 position-relative" id="developers">
  <img class="img-fluid p-5 d-none d-md-flex" id="devToolsIllustration" src="/img/take-action/developers-illustration.svg" />
  <div class="container  py-5 my-5">
    <div class="row">
      <div class="col-12 col-md-5  text-center text-md-start">
        <h1 class="h3 text-blue text-uppercase mb-4 editable">
          Ways to use open payment tools
        </h1>
        <h2 class="text-hero editable">
          For Developers
        </h2>
        <p class="text-large editable">
          Join the Interledger Payments Community
        </p>
        <div class="col-12 d-md-none">
          <img class="img-fluid pt-5" src="/img/take-action/developers-illustration.svg" />
        </div>
      </div>
    </div>
    <div class="row mt-n5 mt-md-5">
      {% for developer-tool in page.developer_tools %}
      <div class="col-12 col-md-6 col-lg-4 ||  mb-4">
        <div class="card text-center h-100">
          <img src="{{ developer-tool.tool_logo_image }}" class="tool-logo" alt="{{ developertool.tool_name }}" />
          <p>{{ developer-tool.tool_description_text }}</p>
          <div class="mt-auto">
            <a href="{{ developer-tool.learn_more_link }}" target="_blank" class="text-underline text-blue text-semi">{{ developer-tool.button_text }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="d-md-none py-0" id="partnerMobileWrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid  py-4 " src="/img/take-action/photo-partner.webp" alt="A group of five people sitting around a table working on laptops" />
      </div>
    </div>
  </div>
</section>

