---
layout: developer-tools
title: Herramientas
testnet_wallets:
  - name: Rafiki Money
    description_html: >-
      <p>Una billetera de demostración orientada al usuario que puede realizar pagos de Interledger a un variedad de pares (compatible con USD, solo testnet). Regístrese en&nbsp;<a
      target="_blank"
      href="https://rafiki.money/">https://rafiki.money</a>.</p>
  - name: RippleX Wallet
    description_html: >-
      <p>Una billetera de demostración orientada al usuario que puede realizar pagos de Interledger a un variedad de pares (compatible con XRP, solo testnet). Regístrese en&nbsp;<a
      target="_blank"
      href="https://wallet.ilpv4.dev/">https://wallet.ilpv4.dev</a>.</p>
connectors:
  - name: Conector Java 
    description_html: >-
      <p>Un conector Interledger&nbsp;<a target="_blank" href="https://connector.interledger4j.dev/"> implementado en Java</a>. No se mantiene activamente, pero el equipo de desarrollo está abierto a escuchar sobre <a href="https://feedback.interledger4j.dev/">solicitudes de nuevas funciones</a>.</p>
  - name: Conector Javascript 
    description_html: >-
      <p>Un conector Interledger&nbsp;<a target="_blank" href="https://github.com/interledgerjs/ilp-connector"> implementado en Javascript</a>. Este proyecto ha sido probado en batalla en varios despliegues de producción.</p>
  - name: Conector Rust 
    description_html: >-
      <p>Un conector Interledger&nbsp;<a target="_blank" href="https://github.com/interledger-rs/interledger-rs">implementado en Rust</a>. Este proyecto no se mantiene activamente, pero tiene un conjunto de características robusto y es fácil de usar.</p>
libraries:
  - name: Interledger Java
    description_html: >-
      <p>Cree aplicaciones ILP que envíen y reciban pagos de forma nativa en Java utilizando&nbsp;<a target="_blank" href="https://www.hyperledger.org/projects/quilt">Quilt</a>, que es una implementación Java de Interledger.</p>
  - name: Interledger RS
    description_html: >-
      <p>Cree aplicaciones ILP que envíen y reciban pagos de forma nativa en Rust usando &nbsp;<a target="_blank" href="http://interledger.rs/">interledger.rs</a>, que es una implementación de Interledger en Rust.</p>
  - name: ILP-over-HTTP
    description_html: >-
      <p>Implementaciones de&nbsp;<a target="_blank" href="https://github.com/interledger/rfcs/blob/master/0035-ilp-over-http/0035-ilp-over-http.md">ILP- over-HTTP</a>, que es un protocolo de comunicación bilateral para conexiones ILP de servidor a servidor.</p><ul><li><strong>Java</strong>:&nbsp;<a target="_blank"
      href="https://github.com/hyperledger/quilt/tree/master/link-parent/link-ilp-over-http">ILP-over-HTTP
      Link</a></li><li><strong>Rust</strong>:&nbsp;<a target="_blank"
      href="https://github.com/interledger-rs/interledger-rs/tree/master/crates/interledger-http">ILP-over-HTTP</a></li><li><strong>Javascript</strong>:&nbsp;<a
      target="_blank"
      href="https://github.com/interledgerjs/ilp-plugin-http">ilp-plugin-http</a></li></ul>
  - name: Interledger STREAM
    description_html: >-
      <p>Envíe dinero y datos en paquetes de manera confiable a través de Interledger usando&nbsp;<a
      target="_blank"
      href="https://github.com/interledger/rfcs/blob/master/0029-stream/0029-stream.md">STREAM</a>.</p><ul><li><strong>Java</strong>:&nbsp;<a
      target="_blank"
      href="https://github.com/hyperledger/quilt/tree/master/stream-parent">STREAM
      Java</a></li><li><strong>Rust</strong>:&nbsp;<a target="_blank"
      href="https://github.com/interledger-rs/interledger-rs/tree/master/crates/interledger-stream">STREAM
      RS</a></li><li><strong>Javascript</strong>:&nbsp;<a target="_blank"
      href="https://github.com/interledgerjs/ilp-protocol-stream">STREAM
      JS</a></li></ul>
---

<section class="dev-tools-content-wrapper">
  <div class="container px-0 px-lg-4 ">
    <div class="row">
      <div class="col-12 col-xl-10 px-0 px-lg-4">
        <h1 >Bibliotecas y Herramientas</h1>
      </div>
      <div class="col-12 col-xl-10 || px-0 px-lg-4 mt-3" id="testnet-wallets">
        <h2 class="mb-3 text-bold">Monederos de red de prueba</h2>
        {% for wallet in page.testnet_wallets %}
        <div class="row {% if forloop.last %} {% else %}border-bottom-gray-thin{% endif %} || mb-4">
          <div class="col-12">
            <p class="mb-1"><strong>{{ wallet.name }}</strong></p>
            {{ wallet.description_html }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 || px-0 px-lg-4 mt-3" id="connectors">
        <h2 class="mb-3 text-bold">Conectores</h2>
        {% for connector in page.connectors %}
        <div class="row {% if forloop.last %} {% else %}border-bottom-gray-thin{% endif %} || mb-4">
          <div class="col-12">
            <p class="mb-1"><strong>{{ connector.name }}</strong></p>
            {{ connector.description_html }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 || px-0 px-lg-4 mt-3" id="libraries">
        <h2  class="mb-3 text-bold">Libraries</h2>
        {% for library in page.libraries %}
        <div class="row  {% if forloop.last %} {% else %}border-bottom-gray-thin{% endif %} ||  mb-4">
          <div class="col-12">
            <p class="mb-1"><strong>{{ library.name }}</strong></p>
            {{ library.description_html }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
