---
layout: developer-tools
title: Comunidad
groups:
  - name: Github
    description_html: >-
      <p>La discusión técnica sobre las especificaciones de Interledger y la implementación de referencia se realiza principalmente a través de problemas de Github y solicitudes de incorporación de cambios. Mire el&nbsp;<a target="_blank" href="https://github.com/interledger/rfcs">Repo de RFC de Interledger&nbsp;</a>&nbsp;para obtener actualizaciones de las especificaciones y los proyectos bajo&nbsp;<a target ="_blank" href="https://github.com/interledgerjs">Organización de Interledger.js&nbsp;</a>&nbsp;para conocer los avances en la implementación de referencia.</p>
    logo_image: /uploads/github.svg
  - name: Foro
    description_html: >-
      <p>El foro oficial de la comunidad de Interledger se puede encontrar&nbsp;<a target="_blank" href="https://forum.interledger.org/">forum.interledger.org&nbsp;</a>. Es el lugar para debates técnicos relacionados con la pila de protocolos de Interledger, las implementaciones y las aplicaciones integradas.</p>
    logo_image: /uploads/forum.svg
  - name: Llamadas Mensuales
    description_html: >-
      <p>Tenemos llamadas comunitarias abiertas&nbsp;<strong>una vez al mes, el segundo miércoles del mes a las 4:00 p. m. UTC</strong>&nbsp;para discutir lo último en el ecosistema de Interledger y responder cualquier pregunta que tenga la gente. Las agendas se publican en el foro de Interledger y cualquiera puede sugerir un tema de la agenda agregando al&nbsp;<a target="_blank" href="https://forum.interledger.org/tags/community-call-agenda">tema&nbsp; </a>&nbsp;creado para ese propósito en el foro.</p><p>Las grabaciones de llamadas anteriores están disponibles&nbsp;<a href="https://soundcloud.com/interledger">en SoundCloud</a>.</p>
    logo_image: /uploads/calls.svg
  - name: Slack
    description_html: >-
      <p>¿Quiere conversar sobre Interledger o tiene alguna pregunta que hacer?&nbsp;<a
      target="_blank"
      href="https://communityinviter.com/apps/interledger/interledger-working-groups-slack">Únase a
      Slack&nbsp;</a>.</p>
    logo_image: /uploads/slack.svg
  - name: Lista de correo
    description_html: >-
      <h3>W3C</h3><p>Todos los anuncios, incluso sobre las próximas reuniones en persona, y muchas discusiones técnicas se realizan a través de la lista de correo del grupo de la comunidad de Interledger del W3C. ¿Tiene ideas para compartir o simplemente quiere mantenerse al día con los últimos desarrollos?&nbsp;<a target="_blank" href="https://www.w3.org/community/interledger/">Únase al grupo de la comunidad&nbsp;</ a>.</p><p>El archivo de la lista de correo está disponible&nbsp;<a target="_blank" href="https://lists.w3.org/Archives/Public/public-interledger/">aquí&nbsp;< /a>.</p><h3>IETF</h3><p>Desde la presentación del proyecto Interledger en IETF Berlín, IETF ha establecido otra lista de correo para la comunidad IETF interesada en el proyecto;&nbsp;<a target= "_blank" href="https://www.ietf.org/mailman/listinfo/ledger">[correo electrónico protegido]&nbsp;</a></p>
    logo_image: /uploads/w3c.svg
  - name: Twitter
    description_html: >-
      <p>Siga&nbsp;<a target="_blank" href="https://twitter.com/interledger">@interledger&nbsp;</a>&nbsp;en Twitter para conocer las últimas noticias y anuncios.</p>
    logo_image: /uploads/twitter.svg
---

<section class="dev-tools-content-wrapper">
  <div class="container px-0 px-lg-4 ">
    <div class="row">
      <div class="col-12 col-xl-10 px-0 px-lg-4">
        <div class="editable">
          <h1>Involucrarse</h1>
          <p class="mb-0"><strong>¿Quienes somos nosotros?</strong></p>
          <p>Interledger es desarrollado por un grupo abierto de empresas y colaboradores individuales, organizados libremente como parte de un Grupo Comunitario del Consorcio World Wide Web (W3C). Vea la lista completa de miembros aquí.</p>
          <p class="mb-0"><strong>¿Quiere construir sobre Interledger o ser parte de su desarrollo?</strong></p>
          <p>Aquí es donde puede encontrarnos y participar:</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for group in page.groups %}
      <div class="col-12 col-xl-10 || px-0 px-lg-4 mt-5 mb-4 {% if forloop.last %} {% else %}border-bottom-gray-thin{% endif %}" id="connectors">
        <div class="row" id="{{ group.name | slugify }}">
          <div class="col-12 col-md-2">
            <img src="{{ group.logo_image }}" class="img-fluid" alt="{{ group.name }} Logo" />
          </div>
          <div class="col-12 col-md-10">
            <p class="mb-1"><strong>{{ group.name }}</strong></p>
            {{ group.description_html }}
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</section>
