---
layout: page
title: Sobre nosotros
our_people:
  team_members:
    - briana-marbury
    - chris-lawrence
    - erika-drushka
    - alex-lakatos
    - ayesha-ware
    - julaire-hall
    - mohammed-islam
    - tiffany-rolle
    - vineel-pindi
board:
  team_members:
    - stefan-thomas
    - chris-larsen
    - konstantin-peric
    - maha-bahou
    - evan-schwartz
    - briana-marbury
officers:
  - role: Chairperson
    team_member: stefan-thomas
  - role: President
    team_member: evan-schwartz
  - role: Executive Director
    team_member: briana-marbury
  - role: Treasurer
    team_member: gary-morris
funders:
  - name: Coil
    logo_image: /img/about-us/coil-technologies-vector-logo.svg
  - name: Ripple
    logo_image: /img/about-us/ripple-logo.svg
---

<section id="aboutHero" class="position-relative">
  <div class="container">
    <div class="row centered justify-content-start">
      <div class="col-12 col-md-4 ">


        <h1 class="text-primary h3 editable">
          Sobre Nosotros
        </h1>
        <h2 class="text-green text-uppercase h1 editable">
          Nuestra misi&oacute;n
        </h2>
        <p class="text-large editable">
          La Fundaci&oacute;n Interledger es una organizaci&oacute;n sin fines de lucro defensora de la web que promueve la innovaci&oacute;n, la creatividad y la inclusi&oacute;n mediante el avance de tecnolog&iacute;as y est&aacute;ndares de pago abiertos que conectan a la perfecci&oacute;n a nuestra sociedad global.
        </p>


      </div>
      <div class="col-12 col-md-7 p-5" id="aboutUsHeroIllustration">
        <img src="/img/about-us/header-photo.webp" class="img-fluid photo-border-green  m-md-5 mb-5 mb-md-0" alt="Dos personas que utilizan teléfonos móviles para intercambiar información" />
      </div>
    </div>
  </div>
</section>
<section class="bg-blue-100">
  <div class="container">
    <div class="row centered">
      <div class="col-12 col-lg-9">
        <div class="row px-md-3 px-lg-5">
          <div class="col-12 text-center mb-4">
            <h1 class="h3 text-green">Nosotros creemos que</h1>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/monetaryexchange-icon.svg" alt="Exchange Icon" />
              <p class="px-4 editable">
                El intercambio monetario debería ser tan fácil como el intercambio de informaci&oacute;n.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/transfer-icon.svg" alt="Transfer Icon" />
              <p class="px-4 editable">
                Los humanos deber&iacute;an poder transferir su dinero entre s&iacute; sin barreras ni fricciones.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/equitableaccess-icon.svg" alt="Access Icon" />
              <p class="px-4 editable">
                Los no bancarizados y los subbancarizados deben tener un acceso equitativo.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/creators-icon.svg" alt="Creators Icon" />
              <p class="px-4 editable">
                Los creadores de contenido y los innovadores digitales deben recibir una compensaci&oacute;n justa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3   mt-5 mt-lg-0 text-center text-largepx-4">
        <p class="editable">
          Todo el trabajo que hacemos es conectar y beneficiar a todos y cada uno de los seres humanos, independientemente de su identidad, geograf&iacute;a o ingresos.
        </p>
        <p class="mt-4  editable ">
          <strong> En resumen, creemos que conectar todas las monedas es conectar a toda la humanidad. </strong>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-md-none py-0" id="diversityMobileWrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid  py-4 " src="/img/about-us/dei.webp" alt="Dos mujeres utilizando un computador portatil" />
      </div>
    </div>
  </div>
</section>

<section class="fullwidth-img-section centered">
  <div class="halfwidth-img d-none d-md-flex" style="background-image: url(/img/about-us/dei.webp);"></div>
  <div class="container">
    <div class="row centered justify-content-end">
      <div class="col-12 col-md-6   text-center text-md-start" id="deiShapes">
        <h1 class="text-primary h2 editable">
          Diversidad, equidad e inclusi&oacute;n
        </h1>
        <div class="editable">
          <p>Estamos comprometidos a construir caminos justos y equitativos para el acceso financiero. Y todo el trabajo que hacemos es para conectar y beneficiar a todos y cada uno de los seres humanos, independientemente de su identidad, geograf&iacute;a o ingresos.</p>
          <p>La exclusi&oacute;n y la escasez financiera a menudo han sido una herramienta para la opresi&oacute;n, la discriminaci&oacute;n y la inequidad sist&eacute;mica. La Fundaci&oacute;n Interledger est&aacute; comprometida con la construcci&oacute;n de sistemas financieros para incluir voces que tradicionalmente han sido excluidas. Nuestro objetivo extraordinariamente ambicioso es descentralizar el poder, los privilegios y el control financiero.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container">

    <div class="row my-lg-5" id="our-people">
      <div class="col-12 text-white text-center ">
        <h1 class="h2 text-uppercase editable">
          Nuestra gente
        </h1>
      </div>
      {% for slug in page.our_people.team_members %}
      {% assign member = site.team_members | where: 'slug', slug | first %}
      <div class="col-12 col-md-3 text-center mb-4">
        <img src="{{ member.photo_image }}" class="img-fluid team-photo p-4 p-md-4" alt="{{ member.name }} headshot" />
        <h4 class="text-white text-bold    mt-n4 mt-lg-n3 mb-0">{{ member.name }}</h4>
        <p class=" text-white   mb-2">{{ member.role }}</p>
        <button type="button" class="button button-outline button-outline-white" data-bs-toggle="modal" data-bs-target="#{{ member.name | slugify }}Modal">
          Leer biografía
        </button>
      </div>
      <div class="modal fade" id="{{ member.name | slugify }}Modal" tabindex="-1" aria-labelledby="{{ member.name | slugify }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered ">
          <div class="modal-content  bg-gray p-3">
            <div class="modal-header pt-3 mb-n4">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <div class="container px-0 px-lg-5">
                <div class="row">
                  <div class="col-12 col-lg-4">
                    <img src="{{ member.photo_image }}" class="img-fluid team-photo" alt="{{ member.name }} headshot" />
                  </div>
                  <div class="col-12 col-lg-8">
                    <p class="h2 text-primary text-bold">{{ member.name }}</p>
                    <p class="h2 text-primary text-thin">{{ member.role }}</p>

                    <div class="bio-social">
                      {% if member.linkedin_link %}
                      <a href="{{ member.linkedin_link }}" target="_blank">
                        <img src="/img/about-us/follow-linkedin.svg" alt="{{ member.name }} on LinkedIn" />
                      </a>
                      {% endif %}
                      {% if member.twitter_link %}
                      <a href="{{ member.twitter_link }}" target="_blank">
                        <img src="/img/about-us/follow-twitter.svg" alt="{{ member.name }} on Twitter" />
                      </a>
                      {% endif %}
                    </div>
                    <p class="mt-4">{{ member.bio_text }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-primary pt-0">
  <div class="container">
    <div class="row py-5 justify-content-center" id="board">
            <div class="col-12 text-white text-center ">
              <h2 class="h2 text-uppercase editable">
                Junta Directiva
              </h2>
            </div>
      {% for slug in page.board.team_members %}
      {% assign board = site.team_members | where: 'slug', slug | first %}
      <div class="col-12 col-md-10 col-lg-7 my-3  text-white mt-3">
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
      </div>
      {% endfor %}

    </div>




    <div class="row py-5 justify-content-center" id="officers">
      <div class="col-12 text-white text-center ">
        <h1 class="h2 text-uppercase editable">
          Oficiales
        </h1>
      </div>

      {% for officer in page.officers %}
        {% assign person = site.team_members | where: 'slug', officer.team_member | first %}
        <div class="col-12 col-md-6 col-lg-3 text-white mt-3">
          <div class="p-2 m-3">
            <h3 class="border-bottom pb-2">{{ officer.role }}</h3>
            <h4>{{ person.name }}</h4>
            <p>{{ person.role }}</p>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center ">
        <h1 class="text-green h2 text-uppercase editable">
          Nuestros financiadores
        </h1>
      </div>
    </div>
    <div class="row centered">
      {% for funder in page.funders %}
      <div class="col-12 col-md-3 text-center">
        <img src="{{ funder.logo_image }}" class="img-fluid" alt="{{ funder.name }}" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-green-fade fullwidth-img-section centered">
  <div class="halfwidth-img d-none d-md-flex" style="background-image: url(/img/about-us/careers-image.webp);"></div>
  <div class="container my-5">
    <div class="row centered justify-content-end">
      <div class="col-12 col-md-6  text-center text-md-start">
        <h1 class="text-uppercase h2 text-green mb-4">Oportunidades laborales</h1>
        <h2 class="editable">
          &Uacute;nase a nosotros en la construcci&oacute;n de una red de pago universal que ponga a la humanidad en primer lugar.
        </h2>
        <img class="img-fluid d-md-none py-4" src="/img/about-us/careers-image.webp" alt="Two women using a laptop" />
        <p class="editable">
          Siempre estamos ansiosos por escuchar a posibles candidatos que compartan nuestra ambici&oacute;n y visi&oacute;n para el futuro.
        </p>
        <a href="https://interledger-foundation.breezy.hr/" target="_blank" class="btn btn-secondary text-large text-primary text-semi editable">Ver vacantes actuales</a>
      </div>
    </div>
  </div>
</section>
