---
layout: page
title: Pagos abiertos e inclusivos
excerpt: >-
  Una red de pagos abierta e inclusiva en la que cualquier persona puede
  ganar, compartir, comprar, vender y comerciar con cualquier otra persona en el mundo.
featured_program:
  name: Grant for the Web
  link: 'https://www.grantfortheweb.org/'
  program_image: /uploads/grant-for-the-web-featured-image.jpg
  subtitle_text: >-
    Grant for the Web (GftW) es un fondo de $ 100 millones para impulsar estándares e innovación 
    abiertos, justos e inclusivos en la monetización web.
  write_up_html: >-
    <p><strong>Distributed Media Lab</strong><br />Una innovadora plataforma de ingresos por lectores 
    que aprovecha la monetización web para potenciar los ingresos por lectores distribuidos en una 
    red de editores participantes. Este enfoque descentralizado permitirá a los 
    editores aprovechar la escalabilidad natural de la web 
    abierta.&nbsp;<strong><a target="_blank" rel="noopener"
    href="https://www.grantfortheweb.org/blog/dmlaward">Aprende m&aacute;s</a></strong></p>
    <p><strong>Alimentando la justicia social con un flujo de monetización
    </strong><br />Monetizando la web a trav&eacute; de Ushahidi, una 
    plataforma de crowdsourcing de código abierto que se ha utilizado a nivel mundial 
    para la respuesta a crisis, la protección de los derechos humanos, el buen gobierno 
    y garantizar la integridad en las elecciones.&nbsp;<strong><a target="_blank" rel="noopener"
    href="https://www.grantfortheweb.org/grantees">Aprende m&aacute;s</a></strong>
    </p><p><strong>Embajador de GftW Akintunde Sultan
    Bolaji</strong><br />&ldquo;Hack Sultan&rdquo; trabajando para habilitar 10K 
    desarrolladores en monetización web en todo el continente africano.&nbsp;<strong><a
    target="_blank" rel="noopener"
    href="https://www.grantfortheweb.org/blog/akintunde-sultan-bolaji">Aprende 
    m&aacute;s</a></strong></p>
---

<section class="pt-5 px-3  p-md-5 fullwidth-img-section centered" id="home-intro">
  <img class="img-fluid p-md-5 illustration d-none d-md-flex" id="homeIntroIllustration" src="/img/home/home-illustration.svg" />
  <div class="container h-100 fullwidth-img-section d-flex justify-content-center  align-items-start align-items-md-center">
    <div class="row ">
      <div class="col-12 col-md-6 col-md-5 ">
        <div>
          <h1 class="text-center text-md-start editable">
            Una red de pagos abierta e inclusiva que pone a la humanidad primero.
          </h1>
          <p class="text-large text-center text-md-start editable my-3">
            La Fundaci&oacute;n Interledger y su comunidad est&aacute;n construyendo caminos hacia el acceso financiero y la oportunidad en todo el mundo, conectando a la humanidad de una nueva manera.
          </p>
          <div class="text-center d-flex flex-column align-items-center d-sm-block text-md-start "><a class="button button-filled editable me-md-3" href="/our-work/">Nuestro trabajo</a> <a class="button button-outline editable" href="/developer-tools/get-started/overview/">Construir con Interledger</a>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-12 d-md-none" id="homeIntroIllustrationMobile">
      </div>
    </div>
  </div>
</section>
<section class="bg-blue-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center ">
        <div>
          <h1 class="editable">
            Interledger est&aacute; trabajando para lograr una sociedad global m&aacute;s equitativa y creativa a trav&eacute;s de una red de pagos abierta en la que cualquier persona puede ganar, compartir, comprar, vender y comerciar sin problemas con cualquier otra persona en el mundo.
          </h1>
          <h2 class="text-primary mt-5 mb-4 editable">
            Para impulsar esta visión
          </h2>
        </div>
      </div>
    </div>
    <div class="row  mt-4">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100 text-center text-large ">
          <img class="img-fluid card-icon mx-auto" src="/img/home/connectcommunity.svg" alt="Connect Icon" />
          <p class="editable">
            <strong>Conectaremos</strong> una poderosa comunidad de defensores y l&iacute;deres web.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card h-100 text-center text-large ">
          <img class="img-fluid card-icon mx-auto" src="/img/home/creativesolutions-icon.svg" alt="Promote Icon" />
          <p class="editable">
            <strong>Promocionaremos</strong> soluciones creativas e innovadoras para conectar a la humanidad.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card h-100 text-center text-large ">
          <img class="img-fluid card-icon mx-auto" src="/img/home/steward-icon.svg" alt="Steward Icon" />
          <p class="editable">
            <strong>Gestionaremos</strong> el trabajo los est&aacute;ndares para hacer avanzar la tecnolog&iacute;a de pagos abiertos.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center ">
        <h2 class="text-primary mt-5 mb-4 ">
          <a class="text-underline text-bold editable" href="/about-us/">Más información sobre Interledger</a>
        </h2>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple-fade">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white text-center editable">
          Plataformas que utilizan la tecnología Interledger
        </h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 position-relative">
        <glider-carousel>
          <div class="glider">
            {% for casestudy in site.casestudies %}
            <div data-cms-editor-link="cloudcannon:collections/{{ post.path }}" class="cms-editor-link">
              <div class="card">
                <div class="container px-0">
                  <div class="row">
                    <div class="col-12 col-xl-5">
                      <div class="home-carousel-img" style="background-image: url({{ casestudy.featured_image }});"></div>
                    </div>
                    <div class="col-12 col-xl-7 p-xl-5">
                      <h2 class="text-hero text-center text-lg-start mt-4 mt-lg-0">{{ casestudy.title }}</h2>
                      <p>{{ casestudy.featured_text }}</p>
                      <div class="text-center d-flex flex-column align-items-center d-md-block text-lg-start ">
                        <a href="{{ casestudy.url }}" class="button button-outline">Aprende m&aacute;s</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <button aria-label="Previous" class="glider-prev"></button>
          <button aria-label="Next" class="glider-next"></button>
          <div role="tablist" class="pt-4" id="dots"></div>
        </glider-carousel>
      </div>
    </div>
  </div>
</section>

<section class="bg-green-fade position-relative" id="featuredShapes">
  <div class="animation-wrapper d-none d-md-flex">
    <div class="circle-animation" id="homeHoverOne"></div>
    <div class="circle-animation" id="homeHoverTwo"></div>
    <div class="circle-animation" id="homeHoverThree"></div>
    <div class="cross-animation" id="homeHoverFour"></div>
  </div>
  <div id="featuredImageCircle"></div>
  <div id="featuredImage" class="d-none d-lg-block" style="background-image: url({{ page.featured_program.program_image }});"></div>
  <div class="container">
    <div class="row justify-content-center justify-content-md-end">
      <div class="col-12 col-lg-5 text-center text-lg-start px-md-5 px-lg-0">
        <h1 class="text-green h2 mb-4">Programa destacado</h1>
        <h2 class="h1 text-hero">{{ page.featured_program.name }}</h2>
        <p class="text-large">{{ page.featured_program.subtitle_text }}</p>
        {{ page.featured_program.write_up_html }}

        <h3><a target="_blank" class="text-underline" href="{{ page.featured_program.link }}">Aprender m&aacute;s acerca de {{ page.featured_program.name }}</a></h3>
      </div>
      <div class="col-12 d-lg-none" id="featuredImageMobile">
        <img class="img-fluid " src="{{ page.featured_program.program_image }}" alt="{{ page.featured_program.name }} Image" />
      </div>
    </div>
  </div>
</section>

{% include contact.html %}
