---
layout: page
title: Nuestro trabajo
_subnav:
  title: Nuestro trabajo
  links:
    - label: Áreas de enfoque
      url: '#focus-areas'
    - label: Impacto
      url: '#impact'
---

{% include navigation/subnav.html %}

  <section class="fullwidth-img-section centered" id="focus-areas">
    <img class="img-fluid p-5 d-none d-md-flex" id="focusAreaIllustration" src="/img/our-work/our-work-illustration.svg" />
    <div class="container mt-5">
      <div class="row ">
        <div class="col-12 col-md-4   text-center text-md-start">
          <h1 class="text-pink editable">
            Áreas de enfoque
          </h1>
          <p class="text-large || my-3 editable">
            Dar forma a una red más equitativa que esté abierta a todos se basa en priorizar sistemas e ideales para trabajar juntos para hacer avanzar nuestra sociedad colectiva. Las siguientes son áreas en las que estamos priorizando nuestra influencia.
          </p>
        </div>
        <div class="col-12 d-md-none" id="ourWorkIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-md-2 pt-5 pb-0 p-md-5 bg-blue-fade fullwidth-img-section centered">
    <div id="financialInclusionIllustration">
      <img class="img-fluid p-5 d-none d-md-flex" src="/img/our-work/finacial-inclusion-illustration.svg" alt="" />
      <div class="animation-wrapper d-none d-md-flex">
        <div class="circle-animation" id="financialInclusionHoverOne"></div>
        <div class="circle-animation" id="financialInclusionHoverTwo"></div>
        <div class="cross-animation" id="financialInclusionHoverThree"></div>
      </div>
    </div>
    <div class="container h-100 centered">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5   text-center text-md-start">
          <div class="editable">
            <h2>Inclusión financiera</h2>
            <p>La inclusión financiera significa que cualquier individuo tiene igual acceso a los mismos servicios y productos financieros que les permiten participar en la realización y recepción de pagos. Esto permite que más personas tengan la oportunidad de generar ingresos, ahorrar dinero y participar en su economía local. Estamos construyendo caminos equitativos hacia el acceso financiero, impulsando el crecimiento inclusivo en todo el mundo.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="financialInclusionIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-2 pt-5 pb-0  p-md-5 bg-green-100 fullwidth-img-section centered">
    <div id="openPaymentsWrapper">
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/center.svg" />
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/inner-ring.svg" />
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/outter-ring.svg" />
    </div>
    <div class="container h-100 centered">
      <div class="row ">
        <div class="col-12 col-md-5 text-center text-md-start">
          <div class="editable">
            <h2>Pagos abiertos</h2>
            <p>Estamos creando una única red de pago global abierta que conecta a todos. Interledger proporciona un método abierto, sin fricciones e independiente de la moneda para transferir cantidades muy pequeñas de dinero, lo que generalmente se conoce como micropagos. Esta red abierta permite que cualquier persona transfiera dinero a través de monedas y libros contables, lo que resulta en el reequilibrio potencial de nuestros sistemas de pago globales.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="openPaymentsIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-2  pt-5 pb-0  p-md-5  fullwidth-img-section centered">
      <img class="d-none d-md-flex" id="purpleCircle" src="/img/shapes/purple-circle-bg.svg" />
    <div id="webMonetizationIllustrationWrapper">
      <img class="img-fluid p-5  d-none d-md-flex" id="webMonetizationIllustration" src="/img/our-work/web-monetization-illustration.svg" alt="" />
      <div class="animation-wrapper d-none d-md-flex">
        <div class="circle-animation" id="webMonetizationHoverOne"></div>
        <div class="circle-animation" id="webMonetizationHoverTwo"></div>
        <div class="cross-animation" id="webMonetizationHoverThree"></div>
        <div class="circle-animation" id="webMonetizationHoverFour"></div>
        <div class="cross-animation" id="webMonetizationHoverFive"></div>
      </div>
    </div>

    <div class="container h-100 centered">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 text-center text-md-start">
          <div class="editable">
            <h2>Monetización web</h2>
            <p >La monetización web es una forma de transmitir pequeños pagos (micropagos) a los creadores por el contenido que lee, ve, escucha y transmite en línea. La monetización web es un modelo de ingresos alternativo para la Web, que permite a los creadores obtener ingresos de los usuarios sin necesidad de suscripciones, plataformas de terceros o dependencia de la publicidad. Todo esto permite una experiencia de navegación más rápida, limpia y menos invasiva.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="webMonetizationIllustrationMobile">
        </div>
      </div>
    </div>
  </section>





  <section class="bg-primary" id="impact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-5 text-white text-center ">
            <h1 class="text-uppercase editable">Impacto</h1>
            <p class="text-large text-semi editable">Podemos hacer que la interacción económica sea tan fácil como el intercambio de información.</p>
        </div>
      </div>
      <div class="row text-white mt-5">
        <div class="col-12 col-lg-3  text-center text-lg-start mb-3">
          <p class="text-large editable">
            <strong>En 2020,</strong><br />Grant for the Web apoyó la tecnología Interledger con
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase  mb-4">
          <img src="/img/our-work/icon-funds.svg" class="img-fluid impact-icon pb-3 editable" alt="" />
          <div class="editable">
            <p><strong>
                $8,000,000
              </strong>
              <br /> EN FONDOS DE SUBVENCIONES
            </p>
          </div>


        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase mb-4">
          <img class="img-fluid impact-icon pb-3 editable " alt="" src="/img/our-work/icon-countries.svg" />
          <div class="editable">
          <p>
            BENEFICIARIOS DESDE <br />
            <strong>27 PAÍSES</strong>
          </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase ">
          <img class="img-fluid impact-icon pb-3  editable" alt="" src="/img/our-work/icon-projects.svg" />
          <div class="editable">
          <p><strong>
              115
            </strong>
            <br /> PROYECTOS FINANCIADOS
          </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 centered">
        <div class="col-12  text-center  " id="gftwButton">
          <img src="/img/our-work/GFW-LOGO-WHT.svg" class="pe-md-3 mb-3 mb-md-0" id="gftwLogo" alt="Grant for the web logo" />
          <a href="https://www.grantfortheweb.org/" target="_blank" class="h2 text-underline-white text-bold text-white editable ">Obtenga más información sobre Grant for the Web</a>

        </div>
      </div>
    </div>
  </section>
<section class="bg-blue-100">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 position-relative">
        <glider-exanded-carousel>
          <div class="gliderExpanded">
            {% for casestudy in site.casestudies %}
            <div data-cms-editor-link="cloudcannon:collections/{{ post.path }}" class="cms-editor-link">
            <div class="card justify-content-between">
              <div class="work-carousel-img" style="background-image: url({{ casestudy.featured_image }});"></div>
              <p class="mt-4">{{ casestudy.featured_text }}</p>
              <div class="text-center d-flex flex-column align-items-center ">
                <a href="{{ casestudy.url }}" class="button button-outline">Aprenda más</a>
              </div>
            </div>
            </div>
            {% endfor %}
          </div>
          <button aria-label="Previous" class="glider-prev"></button>
          <button aria-label="Next" class="glider-next"></button>
          <div role="tablist" class="pt-4" id="greenDots"></div>
        </glider-exanded-carousel>
      </div>
    </div>
  </div>
</section>
